<!doctype html>
  <html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Registro Bservice {% endblock %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
  </head>

  <body>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

        Category: {{ messages[0][0] }}
        {{ messages[0][1] }}

    {% endif %}
  {% endwith %}

  {% block content %}
  <form action="{{ url_for('register') }}", method="POST">
      <div class="container-fluid form-container">
      <div class="container login-container">
          <div class="row">
              <div class="col-md-5 content-part">
                  <h4 class="logo">Conta Bservice</h4>

                  <img src="{{ url_for('static', filename='assets/images/feature-img-05.png') }}" alt="">

                  <h2>Obtenha visibilidade instantânea de todo o trabalho da sua equipe.</h2>
                  <p>Não perca tempo com tarefas manuais e tediosas. Deixe a automação fazer isso por você. Simplifique os fluxos de trabalho,
                  para reduzir erros e economizar tempo e assim resolver problemas mais importantes.</p>
              </div>
              <div class="col-md-7 form-part">
                <div class="row">
                   <p class="signinlink">Já possui conta. <a href={{url_for('login')}}>Faça o seu acesso.</a></p>

                  <div class="col-lg-8 col-md-11  formcol mx-auto">
                       <h3>Registre-se para obter sua conta Bservice</h3>
                       <div class="form-floating mb-3">
                        {{ form.usuario(class='form-control', id="floatingInput1", placeholder='Usuario', autocomplete='off', autofocus=true) }}
                        <!-- <input type="email" class="form-control" id="floatingInput1" placeholder="Enter Full Name"> -->
                        <label for="floatingInput1">Escolha um login. Nome + . + Sobrenome.</label>
                           <ul>
                               {% for error in form.usuario.errors %}
                                <li>{{ error }}</li>
                               {% endfor %}
                           </ul>
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.nome(class='form-control', id="floatingInput1", placeholder='Nome') }}
                        <!-- <input type="email" class="form-control" id="floatingInput1" placeholder="Enter Full Name"> -->
                        <label for="floatingInput1">Insira seu nome completo</label>
                           <ul>
                               {% for error in form.nome.errors %}
                                <li>{{ error }}</li>
                               {% endfor %}
                           </ul>
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.telefone(class='form-control', placeholder='Telefone') }}
                        <!-- <input type="email" class="form-control" id="floatingInput2" placeholder="Enter Mobile Number"> -->
                        <label for="floatingInput2">Telefone celular</label>
                          <ul>
                               {% for error in form.telefone.errors %}
                                <li>{{ error }}</li>
                               {% endfor %}
                          </ul>
                      </div>
                       <div class="form-floating mb-3">
                        {{ form.emailcorp(class='form-control', placeholder='Email-corp') }}
                        <!--   <input type="email" class="form-control" id="floatingInput3" placeholder="Enter Email Address"> -->
                        <label for="floatingInput3">E-mail coporativo</label>
                           <ul>
                               {% for error in form.emailcorp.errors %}
                                <li>{{ error }}</li>
                               {% endfor %}
                           </ul>
                      </div>
                      <div class="form-floating">
                        {{ form.senha(class='form-control', placeholder='Senha') }}
                        <!-- <input type="password" class="form-control" id="floatingPassword1" placeholder="Password"> -->
                        <label for="floatingPassword1">Senha</label>
                          <ul>
                               {% for error in form.senha.errors %}
                                <li>{{ error }}</li>
                               {% endfor %}
                          </ul>
                      </div>
                      <div class="form-floating">
                        {{ form.confirma_senha(class='form-control', placeholder='Confirma_senha') }}
                        <!-- <input type="password" class="form-control" id="floatingPassword2" placeholder="Retype Password"> -->
                        <label for="floatingPassword2">Confirme a Senha</label>
                          <ul>
                               {% for error in form.confirma_senha.errors %}
                                <li>{{ error }}</li>
                               {% endfor %}
                          </ul>
                      </div>
                      <div class="form-floating">
                          {{ form.confirma }}
                      </div>

                      {{ form.csrf_token }}

                  </div>
                 
                </div>
                 
              </div>
          </div>
      </div>
    </div>
    </form>
    {% endblock %}
    </body>
  </html>